<h1>API admin</h1>

<h2>1. Create http://159.89.194.18:3205/book</h2></ br>
<h2>2. Update http://159.89.194.18:3205/book/id</h2></ br>
<h2>3. Delete http://159.89.194.18:3205/book/id</h2></ br>

</ br>

<h1>API User</h1>

<h2>1. Melihat Semua Buku http://159.89.194.18:3205/book</h2></ br>
<h2>2. Melihat satu buku byId http://159.89.194.18:3205/book/id</h2></ br>
<h2>3. Melihat Buku byKategori http://159.89.194.18:3205/book/kategori</h2></ br>
<h2>4. Melihat Buku byPengarang http://159.89.194.18:3205/book/pengarang</h2></ br>
<h2>4. Order Buku http://159.89.194.18:3205/book/order</h2></ br>

</ br>

<h1>API Register dan Login</h1>

<h2>1. Register http://159.89.194.18:3205/user/register</h2></ br>
<h2>2. Login http://159.89.194.18:3205/user/login</h2></ br>
<h2>Email : adminkelompok5@gmail.com || Password : admin || Roles : admin
